<div class="container">
    <div style="margin-top: 50px">
        <a href="#/" class="btn btn-default">Back</a>
    </div>
    <h2>Тестовое задание - создание прототипа корзины товаров</h2>
    <p></p>
    <ul>
        <li>Использовал angularjs версии 1.4.4</li>
        <li>Можно было пойти наиболее сложным путем реализации - с использованием jquery, underscore и пр (например как здесь - https://webdevkin.ru/posts/frontend/korzina-dlya-internet-magazina-na-fronte-ili-pishem-modulnyij-javascript), или наоборот, самым легким - использовать готовую директиву ngCart (http://ngcart.snapjay.com/). Но в итоге выбрал средний вариант</li>
        <li>Для сохранения состояния корзины использовал coockies, хотя можно было sessionStorage или localStorage (когда-то делал другое тестовое задание - динамическую таблицу с фильтрами и сохранением данных в localStorage - http://gsemikozov.github.io/angular-dinamic-table/)</li>
        <li>Для визуализации использовал bootstrap</li>
        <li>js сохранил в одном файле app.js, не было смысла столь мелкие куски кода разбивать на отдельные config, controller etc</li>
    </ul>
</div>